.competences_accueil {
    h2 {
        text-align: center;
    }
}
.competences_accueil__text {
    display: flex;
    gap: var(--spacing-md);

    padding-top: var(--spacing-md);
}

.competences__row {
    display: flex;
    justify-content: space-between;
    a {
        margin: var(--spacing-lg) 0;
    }
}
