/* ==========================================================================
   ÉTAPES / COMPONENTS 
   ========================================================================== */
.etape_projet {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 2fr;
    grid-column-gap: var(--spacing-lg);
    grid-row-gap: var(--spacing-lg);

    margin-bottom: var(--spacing-xl);

    h2 {
        //grid-column: 2;
        grid-row: 1;
        grid-column: 1 / span 13;
    }

    h3 {
        padding: var(--spacing-md) 0;
    }

    .etape_projet__nav {
        padding-top: var(--spacing-md);
    }
}

.etape_projet_container {
    grid-column: 1 / span 6;
    grid-row: 2;
}

.etape_projet__media {
    grid-column: 7 / span 6;
    grid-row: 2;

    overflow: hidden;

    height: 75vh;

    .etape__media_image {
        aspect-ratio: 16/9;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        //margin-bottom: var(--spacing-md);

        margin-bottom: var(--spacing-md);
        gap: var(--spacing-lg);
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.etape_projet__nav {
    height: 100%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
        justify-content: center;
        margin: 0;
        height: 100%;
        li {
            display: flex;
            align-items: center;
            gap: var(--spacing-md);

            svg {
                color: var(--color-primary);
            }
        }
    }
}
