/* 

.pre_footer {
    padding-bottom: var(--spacing-md);
    .wrapper {
        display: flex;
        justify-content: space-between;

        .points {
            width: 950px;
            margin-top: 20px;

            background-image: radial-gradient(
                circle,
                var(--color-black) 8px,
                rgba(0, 0, 0, 0) 9px
            );
            background-size: 40px 40px; /* spacing */

/* Optional: repeat in both directions 
            background-repeat: repeat;
        }
    }
}
*/

.footer_pied {
    height: 450px;
    margin-top: var(--spacing-xl);
    display: flex;
    align-items: center;

    background-color: var(--color-bg-secondary);

    .text_footer {
        max-width: 1100px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .btn_fleche {
            &::after {
                background-color: var(--color-black);
            }

            &::before {
                background-color: var(--color-dark-white);
            }
        }
        color: var(--color-dark-white);
    }

    .text_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav_footer {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: var(--spacing-lg);
            padding: 0;
            margin: 0;
        }
    }
}
