.header {
    z-index: 100;

    position: sticky;
    top: 0;
    width: 100%;

    transition: transform 0.2s ease-out;

    pointer-events: none;

    .wrapper {
        max-width: calc($breakpoint-lg + 200px);
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-md) 0;
    }

    .logo_header {
        width: 80px;
        height: 80px;
        //padding: 0 10px;
        position: relative;
        transition: transform 0.2s $ease-out-expo;

        pointer-events: all;

        .logo_image {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .logo__p {
            font-family: var(--font-primary);
            font-size: var(--font-size-logo);
            width: 100%;

            margin: 0;
        }
        /*
        &::after {
            content: '';
            background-color: var(--color-black);

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            border-radius: inherit;
            z-index: -1;

            transform: translate(0, 0);
            
            transition: transform 0.2s $ease-out-expo;
            }
            }*/

        &:hover {
            transform: rotate(60deg);
        }
    }
    .menu_header {
        h4 {
            font-size: var(--font-size-header);
        }
        ul {
            display: flex;
            list-style: none;
            gap: var(--spacing-lg);
            margin: 0;
            padding: 0;

            li {
                display: flex;
                pointer-events: all;
            }
        }
    }
    .header-is-hidden.is-scrolling-down &:not(.nav-is-active) {
        transform: translateY(-100%);
    }
}

/*
   BTN burger
   ========================================================================== */

.header__toggle {
    --bar-height: 5px;
    --bar-spacer: 8px;
    --bar-width: 50px;

    //background-color: transparent;
    display: none;
    background-color: var(--color-white);
    //outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span {
        background: var(--color-black);

        height: var(--bar-height);
        width: 100%;
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);
        transition: 0.3s all $ease-out-expo;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-spacer) -
                    var(--bar-spacer)
            );
        }

        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-spacer) +
                    var(--bar-spacer)
            );
        }
    }

    .nav-is-active & {
        span {
            top: calc(50% - var(--bar-height) / 2);
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: scaleX(0);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    /* Media query */
    @media screen and (max-width: $breakpoint-md) {
        display: block;
    }
}
