.hero_accueil {
    //min-height: 100vh;
    padding-top: calc(var(--spacing-xl) + 50px);
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: 3fr;
        grid-column-gap: var(--spacing-lg);

        .hero_accueil__prenom {
            grid-column: 2 / span 11;
            display: flex;
            justify-content: space-between;
            grid-row: 1;
            pointer-events: none;

            z-index: 5;

            .points {
                width: 400px; //largeur des points
                margin-top: 45px;

                background-image: radial-gradient(
                    circle,
                    var(--color-black) 8px,
                    rgba(0, 0, 0, 0) 9px
                );
                background-size: 40px 40px; /* spacing */

                /* Optional: repeat in both directions */
                background-repeat: repeat;
            }
        }

        .hero_accueil__nom {
            grid-column: 5;
            z-index: 5;
            grid-row: 2;

            pointer-events: none;
        }

        .hero_accueil__media {
            grid-column: 1 / span 5;
            grid-row: 1 / span 2;
            z-index: 1;

            display: block;

            pointer-events: auto;

            cursor: pointer;

            margin-top: 125px;
            overflow: hidden;
            img {
                margin-top: 250px;
                margin-left: 100px;
                transform: rotate(90deg) scaleY(-100%) scale(2);
            }
        }
    }
}

.hero_accueil__content {
    display: flex;
    flex-direction: column;
    h3 {
        align-self: flex-end;
        padding-bottom: var(--spacing-lg);
    }
    grid-column: span 6;
    grid-column-end: 13;
    margin-top: 425px;

    z-index: -5;
}
