/* ==========================================================================
   HERO_PROJET / COMPONENTS
   ========================================================================== */

.hero_projet {
    padding-top: calc(var(--spacing-xl) + 50px);
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: var(--spacing-lg);
        //grid-row-gap: var(--spacing-md);
    }
}

.hero_projet__media {
    grid-column: 8 / span 5;
    grid-row: 1;
    height: 1000px;
    overflow: hidden;
    .hero_thumbnail {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.hero_projet__content_container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: var(--spacing-lg);

    width: $breakpoint-lg;
}

.hero_projet__content {
    grid-row: 1;
    grid-column: 1 / span 7;

    h4 {
        padding: var(--spacing-lg) 0;
    }
    .icons_projet_container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: var(--spacing-lg) 0;

        .icons_projet {
            display: flex;
            gap: var(--spacing-md);
            .icon {
                position: relative;
                padding: 10px;
                width: 100px;
                height: 100px;
            }
        }

        .points {
            width: 100%; //largeur des points

            margin-left: var(--spacing-xl);

            margin-top: -10px;

            background-image: radial-gradient(
                circle,
                var(--color-black) 8px,
                rgba(0, 0, 0, 0) 9px
            );
            background-size: 40px 40px; /* spacing */

            /* Optional: repeat in both directions */
            background-repeat: repeat;
        }
    }
}
.hero_projet__description {
    grid-column: 1 / span 6;
    h3 {
        padding: var(--spacing-md) 0;
    }
}
