.moi_accueil {
    margin-top: var(--spacing-xl);

    max-width: 100vw;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));

        grid-column-gap: var(--spacing-lg);

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            grid-column-gap: 20px;
            grid-template-rows: repeat(3, 250px);
            grid-row-gap: 75px;
        }
    }
}

.moi__jesuis {
    grid-column: 2 / span 4;
    grid-row: 1;
    position: relative;
    z-index: -1;
    max-height: 85%;

    @media screen and (max-width: $breakpoint-sm) {
        grid-column: 1 / span 6;
        max-height: 100%;
    }

    //margin-top: -100px;
    h2 {
        position: absolute;
        top: -75px;
        left: -50px;

        @media screen and (max-width: $breakpoint-sm) {
            top: -50px;
            left: 0;
        }
    }

    html:not(.has-js) & {
        //Ajoute la marge si la page n' pas de javascript
        margin-top: -100px;
        @media screen and (max-width: $breakpoint-sm) {
            margin-top: 0;
        }
    }
}

.moi__photo {
    grid-column: 5 / span 4;
    grid-row: 1;
    overflow: hidden;
    height: 100%;
    max-height: 85%;

    @media screen and (max-width: $breakpoint-sm) {
        grid-column: 1 / span 6;
        grid-row: 2;
        max-height: 100%;
    }
    img {
        object-fit: cover;
        display: block;
        transform: translateY(-5%) scale(1.01); //scale pour fix petit espace à droite sur firefox
    }
}

.moi__jaime {
    grid-column: 8 / span 4;
    grid-row: 1;
    position: relative;
    max-height: 85%;

    @media screen and (max-width: $breakpoint-sm) {
        grid-column: 1 / span 6;
        grid-row: 3;
        max-height: 100%;
    }

    //margin-top: 100px;
    h2 {
        position: absolute;
        top: -75px;
        left: -50px;

        @media screen and (max-width: $breakpoint-sm) {
            top: -50px;
            left: 0;
        }
    }

    .btn_fleche_container {
        pointer-events: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .btn_fleche {
        pointer-events: all;
        margin-top: 30px;
        @media screen and (max-width: $breakpoint-sm) {
            margin-top: 15px;
        }
    }

    html:not(.has-js) & {
        //Ajoute la marge si la page n' pas de javascript
        margin-top: 100px;
        @media screen and (max-width: $breakpoint-sm) {
            margin-top: 0;
        }
    }
}

.moi_accueil__nav {
    height: 100%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
        justify-content: center;
        margin: 0;
        height: 100%;
        @media screen and (max-width: $breakpoint-sm) {
            height: 100%;
            gap: var(--spacing-md);
        }
        li {
            display: flex;
            align-items: center;
            gap: var(--spacing-md);

            svg {
                color: var(--color-primary);
            }
        }
    }
}
