/* ==========================================================================
   STYLES / COMPONENTS
   ========================================================================== */

.styles_projet {
    .wrapper {
        .styles__couleurs {
            display: flex;
            justify-content: center;
            gap: var(--spacing-xl);

            @media screen and (max-width: $breakpoint-sm) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            .styles__couleur {
                aspect-ratio: 1/1;
                width: 200px;

                @media screen and (max-width: $breakpoint-sm) {
                    width: 100%;
                }
            }
            p {
                margin-top: var(--spacing-sm);
            }
        }
        .styles__polices {
            display: flex;
            justify-content: center;
            margin-bottom: var(--spacing-lg);
        }

        .styles_projet__text {
            margin-top: var(--spacing-lg);
            display: flex;
            gap: var(--spacing-md);
            margin-top: var(--spacing-sm);
            @media screen and (max-width: $breakpoint-sm) {
                flex-direction: column;
            }
        }
    }
}
