/* ==========================================================================
   VIDEO / COMPONENTS
   ========================================================================== */

.youtube {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: var(--spacing-md);

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            grid-column-gap: 20px;
        }
        h2 {
            grid-row: 1;
            grid-column: 1 / span 8;
            width: fit-content;
            margin-bottom: var(--spacing-lg);
        }
        .video_container {
            grid-row: 2;
            grid-column: 2 / span 10;
            @media screen and (max-width: $breakpoint-sm) {
                grid-column: 1 / span 8;
            }
            .video {
                aspect-ratio: 16/9;
                overflow: hidden;
                width: 100%;
                cursor: pointer;
                position: relative;
                display: block;

                @media screen and (max-width: $breakpoint-sm) {
                    max-width: 100%;
                }

                .icon_play {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: 0.2s $ease-out-expo;
                    transition-property: opacity, transform;
                    transform-origin: 50% 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    object-fit: none;

                    font-size: 125px;
                    color: var(--color-white);
                    .is-video-ready & {
                        opacity: 100%;
                    }
                }

                iframe {
                    aspect-ratio: 16/9;
                    transform: scale(100.5%);
                    @media screen and (max-width: $breakpoint-sm) {
                        transform: scale(102%);
                    }
                }
            }

            .video__media {
                display: block;
                object-fit: cover;

                &:hover {
                    .icon_play {
                        transform: translate(-50%, -50%) scale(1.3);
                    }
                }
            }
        }
    }
}
