.border {
    border: 3px solid var(--color-black);
    background-color: var(--color-bg-primary);
    border-radius: 25px;

    &_text {
        border: 3px solid var(--color-black);
        background-color: var(--color-bg-primary);
        border-radius: 25px;
        padding: 0 var(--spacing-lg);
        @media screen and (max-width: $breakpoint-sm) {
            padding: 0 var(--spacing-sm);
            border-radius: 10px;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        border-radius: 10px;
    }
}
