/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;
}

.btn_round {
    border: 3px solid var(--color-black);
    background-color: var(--color-bg-primary);

    border-radius: 75px;
    padding: 25px 50px;
    position: relative;

    width: fit-content;
    height: fit-content;

    /* Media query */
    @media screen and (max-width: $breakpoint-md) {
        padding: 15px 30px;
    }

    &::after {
        content: '';
        background-color: var(--color-black);

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        border-radius: inherit;
        z-index: -1;

        transform: translate(0, 0);

        transition: transform 0.2s $ease-out-expo;
    }

    &:hover {
        background-color: var(--color-dark-white);

        &::after {
            transform: translate(10px, 10px);
        }
    }
}

.btn_round_small {
    border: 3px solid var(--color-black);
    background-color: var(--color-bg-primary);

    border-radius: 75px;
    padding: 20px 35px;
    position: relative;

    width: fit-content;
    height: fit-content;

    &::after {
        content: '';
        background-color: var(--color-black);

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        border-radius: inherit;
        z-index: -1;

        transform: translate(0, 0);

        transition: transform 0.2s $ease-out-expo;
    }

    &:hover {
        background-color: var(--color-dark-white);

        &::after {
            transform: translate(10px, 10px);
        }
    }

    /* Media query */
    @media screen and (max-width: $breakpoint-md) {
        padding: 15px 30px;
    }
}

.btn_fleche {
    display: flex;
    flex-direction: column;
    width: fit-content;

    position: relative;
    &::after {
        //Masque de la ligne
        content: '';
        display: block;
        position: absolute;
        bottom: -12px;
        left: 0;
        background-color: var(--color-white);

        height: 6px;
        width: 25%;
        transition: transform 0.2s $ease-in-out-expo;

        transform: translateX(300%);
    }

    &:hover {
        &::after {
            transform: translateX(0);
        }

        .btn_fleche__container {
            .icon {
                transform: rotate(45deg);
            }
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: var(--color-black);

        height: 3px;
        width: 100%;
    }
}

.btn_fleche__container {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    .icon {
        font-size: 40px;
        display: block;
        transition: transform 0.2s $ease-out-expo;
        @media screen and (max-width: $breakpoint-md) {
            font-size: 30px;
        }
    }

    h4 {
        font-family: var(--font-primary);
    }
}
