/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-pure-white: #ffffff;
    --color-white: #f2f2f2;
    --color-dark-white: #e5e1db;
    --color-sand: #d0c9be;
    --color-grey: #43403c;
    --color-black: #252422;

    // Couleurs du projet
    --color-primary: #e63946;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #252422;
}
