{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true" data-scroller-title="true">
    <div id="smooth-content">
        <section class="hero_projet section_notop">
            <div class="wrapper">
                <div class="hero_projet__media border" data-speed="1.05">
                    <div class="hero_thumbnail">
                        <img src="assets/images/thumbnail_amarsissage.webp" alt="Image du hero" />
                    </div>
                </div>
                <div class="hero_projet__content_container">
                    <div class="hero_projet__content">
                        <h2 data-component="TextAnim" data-speed="1.05">Amarsissage d'urgence</h2>
                        <h4 data-speed="1.05">
                            Animation
                            <em>&</em>
                            modélisation 3D
                        </h4>

                        <div class="icons_projet_container">
                            <div class="icons_projet">
                                <svg class="icon border">
                                    <use href="#icon-icon_blender"></use>
                                </svg>
                                <svg class="icon border">
                                    <use href="#icon-icon_ae"></use>
                                </svg>
                                <svg class="icon border">
                                    <use href="#icon-icon_reaper"></use>
                                </svg>
                            </div>
                            <div class="points_icons_projet points"></div>
                        </div>
                    </div>
                    <div class="hero_projet__description" data-speed="0.95">
                        <h3>Projet étudiant</h3>
                        <div class="description_projet__text border_text">
                            <p>
                                Amarsissage d’urgence est une courte
                                <strong>animation 3D</strong>
                                créée à l’hiver 2025 dans le cadre de mon second cours d’animation 3D. Réalisé principalement avec
                                <strong>Blender</strong>
                                , le projet explore la
                                <strong>mise en scène</strong>
                                et le rythme narratif. Mon objectif était de créer une
                                <strong>cinématographie dynamique</strong>
                                qui donne l’impression d’une histoire complète, malgré sa courte durée.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="youtube section_nobottom">
            <div class="wrapper">
                <div class="video_container">
                    <div class="video border" data-component="YouTube" data-video-id="9ZJ-OfBuSj0">
                        <div class="video__media js-video">
                            <img src="assets/icons/icon_play.svg" alt="Bouton play" class="icon_play" />

                            <img class="js-poster" src="assets/images/thumbnail_amarsissage.webp" alt="Présentation Projet" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="credits section_notop">
            <div class="wrapper">
                <div class="credits__container">
                    <h3>Crédits</h3>
                    <nav class="credit__nav">
                        <ul>
                            <li>
                                <p>Modélisation, animation et montage par Philippe Paquet.</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <section class="etapes_projet section_nobottom">
            <div class="wrapper">
                <div class="etape_projet js-pinned">
                    <h2>Modélisation</h2>
                    <div class="etape_projet_container">
                        <div class="etape_projet__description border_text">
                            <p>
                                J’ai modélisé tous les éléments de la scène. Seules les textures du sol et de la planète ont été réalisées à partir de
                                tutoriels.
                            </p>
                        </div>
                        <div class="etape_projet__competences">
                            <h3>Compétences clés</h3>
                            <nav class="etape_projet__nav">
                                <ul>
                                    <li>
                                        <svg class="icon icon_list">
                                            <use href="#icon-icon_list"></use>
                                        </svg>
                                        <h4>Modélisation 3D</h4>
                                    </li>
                                    <li>
                                        <svg class="icon icon_list">
                                            <use href="#icon-icon_list"></use>
                                        </svg>
                                        <h4>Texturing</h4>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="etape_projet__media">
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_modelisation01.webp" alt="Modèle du vaisseau" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_modelisation02.webp" alt="Modèle de la patte" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_modelisation03.webp" alt="Modèles dans la scène" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_modelisation04.webp" alt="Textures sur le vaisseau" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_modelisation05.webp" alt="Texture du sol" />
                        </div>
                    </div>
                </div>

                <div class="etape_projet js-pinned">
                    <h2>Animation</h2>
                    <div class="etape_projet_container">
                        <div class="etape_projet__description border_text">
                            <p>
                                Une fois la modélisation et la mise en scène complétées, j’ai pu passer à l’animation. Mon objectif était de faire des
                                mouvements et des
                                <strong>jeux de caméra simples</strong>
                                , afin d’obtenir un
                                <strong>rendu final professionnel</strong>
                                .
                            </p>
                        </div>
                        <div class="etape_projet__competences">
                            <h3>Compétences clés</h3>
                            <nav class="etape_projet__nav">
                                <ul>
                                    <li>
                                        <svg class="icon icon_list">
                                            <use href="#icon-icon_list"></use>
                                        </svg>
                                        <h4>Animation 3D</h4>
                                    </li>
                                    <li>
                                        <svg class="icon icon_list">
                                            <use href="#icon-icon_list"></use>
                                        </svg>
                                        <h4>Rigging</h4>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="etape_projet__media">
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_animation01.webp" alt="Modèle du vaisseau" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_animation02.webp" alt="Modèle de la patte" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_animation03.webp" alt="Modèles dans la scène" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_animation04.webp" alt="Textures sur le vaisseau" />
                        </div>
                    </div>
                </div>
                <div class="etape_projet js-pinned">
                    <h2>Montage</h2>
                    <div class="etape_projet_container">
                        <div class="etape_projet__description border_text">
                            <p>
                                Le rendu final comprenait environ 900 images, que j’ai assemblées dans
                                <strong>After Effects</strong>
                                pour créer la vidéo. J’ai ensuite utilisé
                                <strong>Reaper</strong>
                                afin d’y intégrer les effets sonores et l’ambiance générale de la séquence.
                            </p>
                        </div>
                        <div class="etape_projet__competences">
                            <h3>Compétences clés</h3>
                            <nav class="etape_projet__nav">
                                <ul>
                                    <li>
                                        <svg class="icon icon_list">
                                            <use href="#icon-icon_list"></use>
                                        </svg>
                                        <h4>
                                            Montage audio
                                            <em>&</em>
                                            vidéo
                                        </h4>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="etape_projet__media">
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_montage01.webp" alt="Montage After Effects" />
                        </div>
                        <div class="etape__media_image border js-image-panel">
                            <img src="assets/images/amarsissage_montage02.webp" alt="Montage audio sur Reaper" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>
