{% include '_partials/_header.html' %}

<section class="hero_projet section_notop">
    <div class="wrapper">
        <div class="hero_projet__media border">
            <div class="hero_thumbnail">
                <img src="assets/images/thumbnail_amarsissage.webp" alt="Image du hero" />
            </div>
        </div>
        <div class="hero_projet__content_container">
            <div class="hero_projet__content">
                <h2>Amarsissage d'urgence</h2>
                <h4>
                    Animation
                    <em>&</em>
                    madélisation 3D
                </h4>

                <div class="icons_projet_container">
                    <div class="icons_projet">
                        <svg class="icon border">
                            <use href="#icon-icon_blender"></use>
                        </svg>
                        <svg class="icon border">
                            <use href="#icon-icon_ae"></use>
                        </svg>
                        <svg class="icon border">
                            <use href="#icon-icon_reaper"></use>
                        </svg>
                    </div>
                    <div class="points_icons_projet points border">je suis de points</div>
                </div>
            </div>
            <div class="hero_projet__description">
                <h3>Projet étudiant</h3>
                <div class="description_projet__text border_text">
                    <p>
                        Amarsissage d’urgence est une courte animation 3D réalisée en hiver 2025 dans le câdre de mon second cours d’animation 3D.
                        <br />

                        Le projet a principalement été fait dans blender. Mes objectifs étainent de rendre la cinématographie intéressante en y ajoutant
                        plusieurs courtes scènes. Ce qui donne la sensation d’une histoire complétée.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="etapes_projet">
    <div class="wrapper">
        <h2>Modélisation</h2>
        <div class="etape_projet_container">
            <div class="etape_projet__description border_text">
                <p>
                    L’intégralité du contenu à été modéliser par moi même. J’ai cependant suivi des tutoriels pour la texture du sol ainsi que la texture de la
                    planète.
                </p>
            </div>
            <div class="etape_projet__competences">
                <h3>Compétences clés</h3>
                <nav class="etape_projet__nav">
                    <ul>
                        <li>
                            <svg class="icon icon_list">
                                <use href="#icon-icon_list"></use>
                            </svg>
                            <h4>Modélisation 3D</h4>
                        </li>
                        <li>
                            <svg class="icon icon_list">
                                <use href="#icon-icon_list"></use>
                            </svg>
                            <h4>Texturing</h4>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="etape_projet__media">
            <div class="etape__media_image border">
                <img src="assets/images/thumbnail_amarsissage.webp" alt="" />
            </div>
            <div class="etape__media_image border">
                <img src="assets/images/thumbnail_amarsissage.webp" alt="" />
            </div>
            <div class="etape__media_image border">
                <img src="assets/images/thumbnail_amarsissage.webp" alt="" />
            </div>
            <div class="etape__media_image border">
                <img src="assets/images/thumbnail_amarsissage.webp" alt="" />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">je suis section vide</div>
</section>

{% include '_partials/_footer.html' %}
