{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true" data-scroller-title="true">
    <div id="smooth-content">
        <div class="fond_footer">
            <section class="hero_projet section_notop">
                <div class="wrapper">
                    <div class="hero_projet__media border" data-speed="1.05">
                        <div class="hero_thumbnail">
                            <img class="hero_desktop" src="assets/images/thumbnail_bureau_bsc.webp" alt="Image du hero desktop" />
                            <img class="hero_mobile" src="assets/images/thumbnail_mobile_bsc.webp" alt="Image du hero mobile" />
                        </div>
                    </div>
                    <div class="hero_projet__content_container">
                        <div class="hero_projet__content">
                            <h2 data-component="TextAnim" data-speed="1.05">
                                Baie-Sainte-
                                <br />
                                Catherine
                            </h2>
                            <h4 data-speed="1.05">
                                Design
                                <em>&</em>
                                intégration web
                            </h4>

                            <div class="icons_projet_container">
                                <div class="icons_projet">
                                    <svg class="icon border">
                                        <use href="#icon-icon_figma"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_html"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_js"></use>
                                    </svg>
                                </div>
                                <div class="points_icons_projet points"></div>
                            </div>
                        </div>
                        <div class="hero_projet__description" data-speed="0.95">
                            <h3>Projet étudiant</h3>
                            <div class="description_projet__text border_text">
                                <p>
                                    Baie-Sainte-Catherine est un
                                    <strong>projet hybride</strong>
                                    réalisé dans le cadre d’un cours de design et d’un cours de conception web. L’objectif du mandat était de
                                    <strong>moderniser le site web</strong>
                                    municipal de Baie-Sainte-Catherine afin d’offrir une
                                    <strong>meilleure expérience utilisateur</strong>
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="styles_projet section_nobottom">
                <div class="wrapper">
                    <div class="styles__polices">
                        <div class="styles__police">
                            <h3>
                                Titres
                                <em>&</em>
                                textes : Urbanist
                            </h3>
                        </div>
                    </div>
                    <div class="styles__couleurs">
                        <div class="styles__couleur_container">
                            <div class="styles__couleur border" style="background-color: #033f63"></div>
                            <p>#033F63</p>
                        </div>
                        <div class="styles__couleur_container">
                            <div class="styles__couleur border" style="background-color: #ffc63d"></div>
                            <p>#FFC63D</p>
                        </div>
                        <div class="styles__couleur_container">
                            <div class="styles__couleur border" style="background-color: #b52727"></div>
                            <p>#B52727</p>
                        </div>
                        <div class="styles__couleur_container">
                            <div class="styles__couleur border" style="background-color: #f7f7f9"></div>
                            <p>#F7F7F9</p>
                        </div>
                        <div class="styles__couleur_container">
                            <div class="styles__couleur border" style="background-color: #1b1b1b"></div>
                            <p>#1B1B1B</p>
                        </div>
                    </div>
                    <div class="styles_projet__text">
                        <h4>Tu veux voir de tes propres yeux ?</h4>
                        <a href="https://ppaquet.dectim.ca/bsc/" target="_blank" class="btn_fleche">
                            <div class="btn_fleche__container">
                                <h4>Voir le site web</h4>
                                <svg class="icon">
                                    <use href="#icon-icon_fleche"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="credits credits_large section_notop">
                <div class="wrapper">
                    <div class="credits__container">
                        <h4>Crédits</h4>
                        <nav class="credit__nav">
                            <ul>
                                <li>
                                    <p>Design et intégration par Philippe Paquet.</p>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="etapes_projet section_nobottom">
                <div class="wrapper">
                    <div class="etape_projet js-pinned">
                        <h2>Design statique</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Je me suis
                                    <strong>inspiré de différents sites municipaux</strong>
                                    afin de concevoir le design statique de la page d’accueil et de la page de contact,
                                    <strong>adapté au contexte des personas</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Principes de design</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Design responsive</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Création de logo</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai créé un logo pour le faux site de Baie-Sainte-Catherine."
                            >
                                <img src="assets/images/bsc_design01.webp" alt="Logo" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Liste des inspirations pour le faux site de Baie-Sainte-Catherine."
                            >
                                <img src="assets/images/bsc_design02.webp" alt="Inspirations" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Wireframe du faux site de Baie-Sainte-Catherine."
                            >
                                <img src="assets/images/bsc_design03.webp" alt="Wireframe" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Design statique final du faux site de Baie-Sainte-Catherine."
                            >
                                <img src="assets/images/bsc_design04.webp" alt="Design statique" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="etape_projet js-pinned">
                        <h2>Prototypage</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Une fois le design statique finalisé, j’ai créé un prototype dans Figma afin de
                                    <strong>démontrer les différentes interactions prévues</strong>
                                    pour le site.
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Composants réutilisables</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Prototypage</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="L’ensemble des composantes réutilisables que j’ai développées pour le prototype."
                            >
                                <img src="assets/images/bsc_proto01.webp" alt="Composantes" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div class="etape__media_image border js-image-panel" data-component="Modale" data-description="Prototype du formulaire.">
                                <img src="assets/images/bsc_proto02.webp" alt="Composantes de formulaire" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Transitions entre les états du formulaire."
                            >
                                <img src="assets/images/bsc_proto03.webp" alt="Interactions de formulaire" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Les sections étaient initialement positionnées hors du viewport pour présenter les animations."
                            >
                                <img src="assets/images/bsc_proto04.webp" alt="Prototypage des pages" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etape_projet js-pinned">
                        <h2>Intégration</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    J’ai ensuite intégré le design en versions
                                    <strong>desktop et mobile</strong>
                                    , en respectant au maximum la fidélité du visuel et en conservant une
                                    <strong>approche accessible</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>
                                                HTML
                                                <em>/</em>
                                                CSS
                                            </h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>JavaScript</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Intégration réactive</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Démonstration du comportement responsive."
                            >
                                <img src="assets/images/bsc_integration01.webp" alt="Code responsive" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Le script du carrousel s’applique à tous les éléments possédant l’attribut data-component= 'Carousel'."
                            >
                                <img src="assets/images/bsc_integration02.webp" alt="Code carrousel" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai également réalisé l’intégration complète d’un formulaire."
                            >
                                <img src="assets/images/bsc_integration03.webp" alt="Code formulaire" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="footer_spacer">
            <div class="wrapper"></div>
        </section>
    </div>
</div>

{% include '_partials/_footer.html' %}
