{% include '_partials/_header.html' %}
<section class="hero_contact">
    <div class="wrapper">
        <div class="hero_contact__container">
            <h1>On jase ?</h1>
            <div class="points border">Je suis un points</div>
        </div>
    </div>
</section>

<section class="reseaux_contact">
    <div class="wrapper">
        <div class="reseaux_contact__contact">
            <a href="#" class="btn_reseau btn_round">
                <h4>
                    philippepaket
                    <em>@</em>
                    gmail.com
                </h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>438 408-9299</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>curriculum vitae</h4>
            </a>
        </div>
        <div class="reseaux_contact__reseaux">
            <a href="#" class="btn_reseau btn_round">
                <h4>Behance</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>Linked In</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>YouTube</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>Instagram</h4>
            </a>
        </div>
    </div>
</section>

<section class="formulaire_contact section">
    <div class="wrapper">
        <h2>Contactez-moi !</h2>
        <div class="formulaire__nom">
            <h4>Salut Philippe, je m’appelle</h4>
            <form action="" class="form" autocomplete="off" data-component="Form">
                <fieldset>
                    <div class="input">
                        <label class="input__label" for="lastname">
                            Nom
                            <span>Entrez un nom valide</span>
                        </label>
                        <input class="input__element" type="text" name="lastname" id="lastname" required />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
