{% include '_partials/_header.html' %}
<section class="hero_contact">
    <div class="wrapper">
        <div class="hero_contact__container">
            <h1>On jase ?</h1>
            <div class="points border">Je suis un points</div>
        </div>
    </div>
</section>

<section class="reseaux">
    <div class="wrapper">
        <a href="#" class="border_btn">
            <h4>
                philippepaket
                <em>@</em>
                gmail.com
            </h4>
        </a>
    </div>
</section>

{% include '_partials/_footer.html' %}
