{% include '_partials/_header.html' %}

<section class="hero_accueil">
    <div class="wrapper">
        <!--<div class="hero_accueil__titre">-->
        <div class="hero_accueil__prenom">
            <h1>Philippe</h1>
            <div class="points border">je suis des points</div>
        </div>
        <h1 class="hero_accueil__nom">Paquet</h1>
        <!--</div>-->
        <!---->

        <!--<div class="hero_accueil__container">-->
        <div class="hero_accueil__media border">je suis du contenu</div>

        <div class="hero_accueil__content">
            <h3>
                Créateur
                <em>&</em>
                designer
            </h3>

            <div class="hero_accueil__content_container border_text">
                <p>Étudiant en multimédia et passionné par la création, je cherche constamment de nouvelles opportunités pour enrichir mes connaissances.</p>
            </div>
        </div>
        <!--</div>-->
    </div>
</section>

{% include '_partials/_footer.html' %}
