{% include '_partials/_header.html' %}

<section class="hero_accueil section_notop">
    <div class="wrapper">
        <!--<div class="hero_accueil__titre">-->
        <div class="hero_accueil__prenom">
            <h1 class="prenom">Philippe</h1>
            <div class="points"></div>
        </div>
        <h1 class="hero_accueil__nom">Paquet</h1>
        <!--</div>-->
        <!---->

        <!--<div class="hero_accueil__container">-->
        <a href="#projets" class="hero_accueil__media border"><img src="assets/images/RobotPosed.webp" alt="" /></a>

        <div class="hero_accueil__content">
            <h3>
                Créateur
                <em>&</em>
                designer
            </h3>

            <div class="hero_accueil__content_container border_text">
                <p>Étudiant en multimédia et passionné par la création, je cherche constamment de nouvelles opportunités pour enrichir mes connaissances.</p>
            </div>
        </div>
        <!--</div>-->
    </div>
</section>

<section id="competences" class="competences_accueil section scrolling_title">
    <div class="wrapper">
        <h2>Mes compétences</h2>

        <div class="competences__row">
            <a href="#" class="btn_round" data-tippy-content="Premier pro - Reaper">
                <h4>
                    Montage audio
                    <em>&</em>
                    vidéo
                </h4>
            </a>
            <a href="#" class="btn_round" data-tippy-content="Blender">
                <h4>Modélisation 3D</h4>
            </a>
            <a href="#" class="btn_round" data-tippy-content="After effects - Blender">
                <h4>
                    Animation 2D
                    <em>&</em>
                    3D
                </h4>
            </a>
        </div>
        <div class="competences__row">
            <a href="#" class="btn_round" data-tippy-content="Touch designer">
                <h4>Médias interactifs</h4>
            </a>
            <a href="#" class="btn_round" data-tippy-content="Photoshop - Figma - Illustrator">
                <h4>Design graphique</h4>
            </a>
            <a href="#" class="btn_round" data-tippy-content="HTML - CSS - JS - PHP">
                <h4>Développement web</h4>
            </a>
        </div>
        <div class="competences_accueil__text">
            <h4>Parce que les images valent milles mots :</h4>
            <a href="#projets" class="btn_fleche">
                <div class="btn_fleche__container">
                    <h4>Projets</h4>
                    <svg class="icon">
                        <use href="#icon-icon_fleche"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="moi_accueil section">
    <div class="wrapper">
        <div class="moi__jesuis border" data-speed="0.85">
            <h2>Je suis</h2>
            <nav class="moi_accueil__nav">
                <ul>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Minutieux</h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Curieux</h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Créatif</h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Autonome</h4>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="moi__photo border">
            <img class="moi__photo_image" src="./assets/images/photo_apropos_01.webp" alt="Portrait de Philippe Paquet" />
        </div>
        <div class="moi__jaime border" data-speed="1.15">
            <h2>J'aime</h2>
            <nav class="moi_accueil__nav">
                <ul>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Le cinéma</h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>
                            Rire
                            <em>&</em>
                            faire rire
                        </h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>Les jeux vidéos</h4>
                    </li>
                    <li>
                        <svg class="icon icon_list">
                            <use href="#icon-icon_list"></use>
                        </svg>
                        <h4>La philosophie</h4>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="grille_projets_accueil section" id="projets">
    <div class="wrapper">
        <h2>Mes projets</h2>
        <div class="grille_projets_container">
            <div class="projets_container">
                <div class="projet_container pattern_points">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border">
                            <img src="./assets/images/thumbnail_amarsissage.webp" alt="Image à la une du projet Amarsissage d'urgence" />
                        </div>
                        <div class="projet__content border_text">
                            <h4>Amarsissage d’urgence</h4>
                            <div class="projet__content_text">
                                <p>Animation / modélisation 3D</p>
                                <p>Hiver 2025</p>
                            </div>
                        </div>
                    </a>
                    <div class="points"></div>
                </div>
                <div class="projet_container pattern_cercle">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border"><img src="./assets/images/thumbnail_robot.webp" alt="Image à la une du projet Robot CGI" /></div>
                        <div class="projet__content border_text">
                            <h4>Robot CGI</h4>
                            <div class="projet__content_text">
                                <p>Modélisation 3D / VFX</p>
                                <p>Hiver 2025</p>
                            </div>
                        </div>
                    </a>

                    <svg class="icon">
                        <use href="#icon-icon_pattern_cercle"></use>
                    </svg>
                </div>

                <div class="projet_container pattern_croix">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border">
                            <img src="./assets/images/thumbnail_proxima.webp" alt="Image à la une du projet Campagne marketing" />
                        </div>
                        <div class="projet__content border_text">
                            <h4>Campagne marketing</h4>
                            <div class="projet__content_text">
                                <p>Design / marketing</p>
                                <p>Été 2024</p>
                            </div>
                        </div>
                    </a>

                    <svg class="icon">
                        <use href="#icon-icon_pattern_croix"></use>
                    </svg>
                </div>
            </div>
            <div class="projets_container projets_container_right">
                <div class="projet_container pattern_croix">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border">
                            <img src="./assets/images/thumbnail_bsc.webp" alt="Image à la une du projet Baie-Sainte-Catherine" />
                        </div>
                        <div class="projet__content border_text">
                            <h4>Baie-Sainte-Catherine</h4>
                            <div class="projet__content_text">
                                <p>Design / developpement</p>
                                <p>Hiver 2025</p>
                            </div>
                        </div>
                    </a>
                    <svg class="icon">
                        <use href="#icon-icon_pattern_croix"></use>
                    </svg>
                </div>

                <div class="projet_container pattern_points">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border"><img src="./assets/images/thumbnail_tagball.webp" alt="Image à la une du projet Tag ball" /></div>
                        <div class="projet__content border_text">
                            <h4>Tag ball</h4>
                            <div class="projet__content_text">
                                <p>Intéractivité</p>
                                <p>Hiver 2025</p>
                            </div>
                        </div>
                    </a>

                    <div class="points"></div>
                </div>

                <div class="projet_container pattern_cercle">
                    <a href="amarsissage.html" class="projet">
                        <div class="projet__media border">Je suis une image</div>
                        <div class="projet__content border_text">
                            <h4>Projet</h4>
                            <div class="projet__content_text">
                                <p>Catégorie</p>
                                <p>Hiver 2025</p>
                            </div>
                        </div>
                    </a>
                    <svg class="icon">
                        <use href="#icon-icon_pattern_cercle"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact section_nobottom">
    <div class="wrapper">
        <div class="hero_contact">
            <h2>On jase ?</h2>
            <div class="points"></div>
        </div>

        <div class="reseaux_contact__contact">
            <a href="#" class="btn_reseau btn_round">
                <h4>
                    philippepaket
                    <em>@</em>
                    gmail.com
                </h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>438 408-9299</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>curriculum vitae</h4>
            </a>
        </div>
        <div class="reseaux_contact__reseaux">
            <a href="#" class="btn_reseau btn_round">
                <h4>Behance</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>Linked In</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>YouTube</h4>
            </a>
            <a href="#" class="btn_reseau btn_round">
                <h4>Instagram</h4>
            </a>
        </div>

        <div class="formulaire section_nobottom">
            <h2>Contactez-moi !</h2>
            <div class="formulaire_contact__container">
                <form action="" class="form" autocomplete="off" data-component="Form">
                    <fieldset class="form__grid">
                        <!-- Section 1 -->
                        <div class="input input--1">
                            <label class="input__label" for="fullname"><h4>Salut Philippe, je m’appelle</h4></label>
                            <input class="input__element border_text" type="text" name="fullname" id="fullname" placeholder="Votre nom complet" required />
                        </div>

                        <!-- Section 2 -->
                        <div class="input input--2">
                            <label class="input__label" for="email"><h4>Tu peux me répondre à</h4></label>
                            <input class="input__element border_text" type="email" name="email" id="email" placeholder="VotreCourriel@domain.com" required />
                        </div>

                        <!-- Section 3 -->
                        <div class="input textarea input--3">
                            <label class="input__label" for="message"><h4>Je te contacte à propos de</h4></label>
                            <textarea class="input__element border_text" name="message" id="message" placeholder="Votre message" required></textarea>
                            <footer class="form__footer">
                                <a href="#" class="btn_fleche">
                                    <div class="btn_fleche__container">
                                        <h4>Envoyer</h4>
                                        <svg class="icon">
                                            <use href="#icon-icon_fleche"></use>
                                        </svg>
                                    </div>
                                </a>
                            </footer>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="pre_footer section_nobottom">
    <div class="wrapper">
        <h2>On jase ?</h2>
        <div class="points"></div>
    </div>
</section>
-->

{% include '_partials/_footer.html' %}
