{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true" data-scroller-title="true">
    <div id="smooth-content">
        <div class="fond_footer">
            <section class="hero_projet section_notop">
                <div class="wrapper">
                    <div class="hero_projet__media border" data-speed="1.05">
                        <div class="hero_thumbnail">
                            <img src="assets/images/thumbnail_presque.webp" alt="Image du hero" />
                        </div>
                    </div>
                    <div class="hero_projet__content_container">
                        <div class="hero_projet__content">
                            <h2 data-component="TextAnim" data-speed="1.05">Presque arrivé...</h2>
                            <h4 data-speed="1.05">
                                Animation 3D
                                <em>&</em>
                                mise en scène
                            </h4>

                            <div class="icons_projet_container">
                                <div class="icons_projet">
                                    <svg class="icon border">
                                        <use href="#icon-icon_blender"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_ae"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_reaper"></use>
                                    </svg>
                                </div>
                                <div class="points_icons_projet points"></div>
                            </div>
                        </div>
                        <div class="hero_projet__description" data-speed="0.95">
                            <h3>Projet étudiant</h3>
                            <div class="description_projet__text border_text">
                                <p>
                                    L’objectif principal de ce projet était
                                    <strong>d’incruster</strong>
                                    une scène d’horreur en
                                    <strong>3D</strong>
                                    dans une photo de ruelle, à l’origine en 2D. Pour ce faire, j’ai
                                    <strong>utilisé le logiciel fSpy</strong>
                                    afin de déterminer le point de fuite de l’image, puis Blender pour y intégrer les éléments.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="youtube section_nobottom">
                <div class="wrapper">
                    <div class="video_container">
                        <div class="video border" data-component="YouTube" data-video-id="jXr8FMriAoE">
                            <div class="video__media js-video">
                                <img src="assets/icons/icon_play.svg" alt="Bouton play" class="icon_play" />

                                <img class="js-poster" src="assets/images/thumbnail_presque.webp" alt="Présentation Projet" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="credits section_notop">
                <div class="wrapper">
                    <div class="credits__container">
                        <h4>Crédits</h4>
                        <nav class="credit__nav">
                            <ul>
                                <li>
                                    <p>Mise en scène et certaines animations par Philippe Paquet.</p>
                                </li>
                                <li>
                                    <p>Les crédits sont à la fin de la vidéo.</p>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="etapes_projet section_nobottom">
                <div class="wrapper">
                    <div class="etape_projet js-pinned">
                        <h2>Image 2D</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    La première étape a été de
                                    <strong>déterminer le point de fuite</strong>
                                    de la photo à l'aide du logiciel
                                    <strong>fSpy</strong>
                                    , puis de
                                    <strong>l'importer dans Blender</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>fSpy</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div class="etape__media_image border js-image-panel" data-component="Modale" data-description="Image originale.">
                                <img src="assets/images/presque_fspy01.webp" alt="Image de base" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai importé l’image originale dans fSpy afin d’en déterminer le point de fuite. L’équipe de fSpy a développé un add-on pour Blender ; je l’ai donc utilisé pour positionner automatiquement la caméra au bon endroit."
                            >
                                <img src="assets/images/presque_fspy02.webp" alt="Image dans fspy" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Import de l'image dans Blender, mainteant aligné sur les axes."
                            >
                                <img src="assets/images/presque_fspy03.webp" alt="Image dans blender" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="etape_projet js-pinned">
                        <h2>Projection</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Ensuite, j’ai
                                    <strong>recréé la scène</strong>
                                    à l’aide de formes géométriques simples afin d’y
                                    <strong>projeter mon image</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Projection 2D</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Mise en scène</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Scène de base, sans projection ni éléments additionnels."
                            >
                                <img src="assets/images/presque_scene01.webp" alt="Scène" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Scène avec la projection 2D pour afficher les textures."
                            >
                                <img src="assets/images/presque_scene02.webp" alt="Scène textures" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Scène finale avec l'éclairage et les éléments additionnels."
                            >
                                <img src="assets/images/presque_scene03.webp" alt="Scène render" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etape_projet js-pinned">
                        <h2>Animation</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    J’ai ensuite intégré le design en versions
                                    <strong>desktop et mobile</strong>
                                    , en respectant au maximum la fidélité du visuel et en conservant une
                                    <strong>approche accessible</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Animation 3D</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Puisque la caméra ne voit que le bras du personnage, c’est la seule partie de son corps que j’ai eu à animer."
                            >
                                <img src="assets/images/presque_animation01.webp" alt="Animation de personnage" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Le monstre avait déjà une animation ; j’ai simplement eu à synchroniser son cycle de marche avec son déplacement dans la scène."
                            >
                                <img src="assets/images/presque_animation02.webp" alt="Animation du zombie" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Le pendu a été animé afin de renforcer la tension et l’ambiance effrayante de la scène."
                            >
                                <img src="assets/images/presque_animation03.webp" alt="Animation du pendu" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="footer_spacer">
            <div class="wrapper"></div>
        </section>
    </div>
</div>

{% include '_partials/_footer.html' %}
