{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true" data-scroller-title="true">
    <div id="smooth-content">
        <div class="fond_footer">
            <section class="hero_projet section_notop">
                <div class="wrapper">
                    <div class="hero_projet__media border" data-speed="1.05">
                        <div class="hero_thumbnail">
                            <img src="assets/images/thumbnail_amarsissage.webp" alt="Image du hero" />
                        </div>
                    </div>
                    <div class="hero_projet__content_container">
                        <div class="hero_projet__content">
                            <h2 data-component="TextAnim" data-speed="1.05">Robot CGI</h2>
                            <h4 data-speed="1.05">
                                Modélisation 3D
                                <em>&</em>
                                VFX
                            </h4>

                            <div class="icons_projet_container">
                                <div class="icons_projet">
                                    <svg class="icon border">
                                        <use href="#icon-icon_blender"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_ae"></use>
                                    </svg>
                                    <svg class="icon border">
                                        <use href="#icon-icon_reaper"></use>
                                    </svg>
                                </div>
                                <div class="points_icons_projet points"></div>
                            </div>
                        </div>
                        <div class="hero_projet__description" data-speed="0.95">
                            <h3>Projet étudiant</h3>
                            <div class="description_projet__text border_text">
                                <p>
                                    Dans le cadre de mon second cours d’animation 3D, j’ai
                                    <strong>modélisé et animé un robot</strong>
                                    , avec pour objectif de
                                    <strong>l’intégrer dans une scène réelle</strong>
                                    afin de donner l’impression qu’il s’y trouve.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="youtube section_nobottom">
                <div class="wrapper">
                    <div class="video_container">
                        <div class="video border" data-component="YouTube" data-video-id="9DUZfFNWhOs">
                            <div class="video__media js-video">
                                <img src="assets/icons/icon_play.svg" alt="Bouton play" class="icon_play" />

                                <img class="js-poster" src="assets/images/thumbnail_robot.webp" alt="Présentation Projet" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="credits section_notop">
                <div class="wrapper">
                    <div class="credits__container">
                        <h4>Crédits</h4>
                        <nav class="credit__nav">
                            <ul>
                                <li>
                                    <p>Modélisation, animation et montage par Philippe Paquet.</p>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="etapes_projet section_nobottom">
                <div class="wrapper">
                    <div class="etape_projet js-pinned">
                        <h2>Modélisation</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Je me suis inspiré de différents robots pour créer mon modèle, puis j’ai utilisé plusieurs tutoriels pour réaliser une
                                    texture réaliste.
                                    <strong>J’ai également « bake » les textures</strong>
                                    afin qu’elles restent similaires pendant l’animation.
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Modélisation 3D</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Texturing</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/robot_modelisation01.webp" alt="Inspiration du robot" />
                            </div>
                            <div class="etape__media_image border js-image-panel" data-component="Modale" data-description="Plan rapproché du dos du robot.">
                                <img src="assets/images/robot_modelisation02.webp" alt="Modèle de la patte" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Plan rapproché des jambes du robot."
                            >
                                <img src="assets/images/robot_modelisation03.webp" alt="Modèles dans la scène" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Voici un exemple du processus de texture baking. J’ai assemblé plusieurs techniques issues de différents tutoriels pour créer ce rendu final."
                            >
                                <img src="assets/images/robot_modelisation04.webp" alt="Textures sur le vaisseau" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="etape_projet js-pinned">
                        <h2>Animation</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Pour l’animation,
                                    <strong>j’ai créé une armature pour mon robot</strong>
                                    , avec des bras souples. J’ai ensuite animé sa marche, en lui donnant une
                                    <strong>démarche lente et mécanique</strong>
                                    afin de transmettre l’impression de lourdeur.
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Rigging</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Animation 3D</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai conçu une armature pour le robot, avec des bras souples, afin de lui donner une allure plus sympathique."
                            >
                                <img src="assets/images/robot_animation01.webp" alt="Modèle du vaisseau" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="En jouant avec les interpolations de keyframes, j’ai pu rendre l’animation plus naturelle et convaincante."
                            >
                                <img src="assets/images/robot_animation02.webp" alt="Modèle de la patte" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etape_projet js-pinned">
                        <h2>Incrustation</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    L’étape clé était d'intégrer le robot dans la scène réelle. J’ai
                                    <strong>synchronisé la caméra virtuelle</strong>
                                    avec la caméra réelle dans Blender, puis incrusté le robot dans la vidéo en ajustant l’éclairage pour qu’il se fonde
                                    naturellement dans le décor.
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Compositing</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Motion tracking</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai intégré mon animation directement sur la vidéo originale en utilisant la fenêtre de composition."
                            >
                                <img src="assets/images/robot_compositing01.webp" alt="Montage After Effects" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="Grâce au motion tracking de Blender, j’ai synchronisé la caméra 3D avec les mouvements de la caméra réelle."
                            >
                                <img src="assets/images/robot_compositing02.webp" alt="Montage audio sur Reaper" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etape_projet js-pinned">
                        <h2>Montage</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Enfin, j’ai rendu la scène en images, que j’ai assemblées dans
                                    <strong>After Effects</strong>
                                    pour créer la vidéo finale. J’ai ensuite ajouté l’ambiance et les effets sonores dans
                                    <strong>Reaper</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>
                                                Montage audio
                                                <em>&</em>
                                                vidéo
                                            </h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/robot_montage01.webp" alt="Montage After Effects" />
                            </div>
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/robot_montage02.webp" alt="Montage audio sur Reaper" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="footer_spacer">
            <div class="wrapper"></div>
        </section>
    </div>
</div>

{% include '_partials/_footer.html' %}
