{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true" data-scroller-title="true">
    <div id="smooth-content">
        <div class="fond_footer">
            <section class="hero_projet section_notop">
                <div class="wrapper">
                    <div class="hero_projet__media border" data-speed="1.05">
                        <div class="hero_thumbnail">
                            <img class="hero_desktop" src="assets/images/thumbnail_desktop_tagball.webp" alt="Image du hero desktop" />
                            <img class="hero_mobile" src="assets/images/thumbnail_mobile_tagball.webp" alt="Image du hero mobile" />
                        </div>
                    </div>
                    <div class="hero_projet__content_container">
                        <div class="hero_projet__content">
                            <h2 data-component="TextAnim" data-speed="1.05">Tag Ball</h2>
                            <h4 data-speed="1.05">Média interactif</h4>

                            <div class="icons_projet_container">
                                <div class="icons_projet">
                                    <svg class="icon border">
                                        <use href="#icon-icon_deriative"></use>
                                    </svg>
                                </div>
                                <div class="points_icons_projet points"></div>
                            </div>
                        </div>
                        <div class="hero_projet__description" data-speed="0.95">
                            <h3>Projet étudiant</h3>
                            <div class="description_projet__text border_text">
                                <p>
                                    Dans le cadre de mon cours de médias interactifs, j’ai développé une
                                    <strong>projection interactive</strong>
                                    avec une Kinect et TouchDesigner. La projection est affichée dans un couloir du Cégep Édouard-Montpetit et devait durer 60
                                    secondes.
                                    <strong>J’ai conçu un jeu</strong>
                                    où le joueur doit utiliser ses mains pour marquer le maximum de points pendant le temps imparti.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="youtube section_nobottom">
                <div class="wrapper">
                    <div class="video_container">
                        <div class="video border" data-component="YouTube" data-video-id="ZCOufDE-2f4">
                            <div class="video__media js-video">
                                <img src="assets/icons/icon_play.svg" alt="Bouton play" class="icon_play" />

                                <img class="js-poster" src="assets/images/thumbnail_tagball.webp" alt="Présentation Projet" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="credits section_notop">
                <div class="wrapper">
                    <div class="credits__container">
                        <h4>Crédits</h4>
                        <nav class="credit__nav">
                            <ul>
                                <li>
                                    <p>Développement réalisé par Philippe Paquet.</p>
                                </li>
                                <li>
                                    <p>Module de collision 2D par :</p>
                                    <a href="https://youtube.com/@djipco?si=C88x6hnvNhvBk-V_" target="_blank" class="btn_fleche_credits">
                                        <div class="btn_fleche_credits__container">
                                            <p>Jean-Philippe Coté</p>
                                            <svg class="icon">
                                                <use href="#icon-icon_fleche"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>Testeur du projet :</p>
                                    <a href="https://aelalfy.dectim.ca/" target="_blank" class="btn_fleche_credits">
                                        <div class="btn_fleche_credits__container">
                                            <p>Adam El Alfy</p>
                                            <svg class="icon">
                                                <use href="#icon-icon_fleche"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>Icône de main par :</p>
                                    <a href="https://icon-sets.iconify.design/fa6-regular/" target="_blank" class="btn_fleche_credits">
                                        <div class="btn_fleche_credits__container">
                                            <p>Dave Gandy</p>
                                            <svg class="icon">
                                                <use href="#icon-icon_fleche"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>Fond par Freepik .</p>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <section class="etapes_projet section_nobottom">
                <div class="wrapper">
                    <div class="etape_projet">
                        <h2>Idéation</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Trouver une
                                    <strong>idée engageante pour l’utilisateur</strong>
                                    a été un vrai défi, car l’expérience devait durer
                                    <strong>60 secondes</strong>
                                    et rester
                                    <strong>intuitive</strong>
                                    pour tous. J’ai finalement opté pour un jeu, puis développé son
                                    <strong>esthétique visuelle</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Storytelling</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Design</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai assemblé un petit moodboard pour définir une direction artistique. Je voulais m’inspirer des jeux interactifs réalisés par Moment Factory et apporter un feeling arcade à mon projet."
                            >
                                <img src="assets/images/tagball_ideation01.webp" alt="Moodboard" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="etape_projet js-pinned">
                        <h2>Développement</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    Une fois mon concept trouvé, j'ai commencé à le développer. J'ai combiné la
                                    <strong>programmation nodale</strong>
                                    de TouchDesigner avec du
                                    <strong>«scripting» en python</strong>
                                    , pour offrir encore plus de fonctionnalités.
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Programmation</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/tagball_developpement01.webp" alt="Modèle du vaisseau" />
                            </div>
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/tagball_developpement02.webp" alt="Modèle de la patte" />
                            </div>
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/tagball_developpement03.webp" alt="Modèles dans la scène" />
                            </div>
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/tagball_developpement04.webp" alt="Textures sur le vaisseau" />
                            </div>
                            <div class="etape__media_image border js-image-panel">
                                <img src="assets/images/tagball_developpement05.webp" alt="Textures sur le vaisseau" />
                            </div>
                        </div>
                    </div>
                    <div class="etape_projet">
                        <h2>Assurance qualité</h2>
                        <div class="etape_projet_container">
                            <div class="etape_projet__description border_text">
                                <p>
                                    La dernière étape du projet consistait à s’assurer que le jeu fonctionne de manière
                                    <strong>autonome</strong>
                                    . J’ai donc réalisé des tests et ajusté certains éléments pour améliorer l’expérience utilisateur sur une
                                    <strong>grande projection</strong>
                                    .
                                </p>
                            </div>
                            <div class="etape_projet__competences">
                                <h3>Compétences clés</h3>
                                <nav class="etape_projet__nav">
                                    <ul>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Attention aux détails</h4>
                                        </li>
                                        <li>
                                            <svg class="icon icon_list">
                                                <use href="#icon-icon_list"></use>
                                            </svg>
                                            <h4>Résolution de problèmes</h4>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="etape_projet__media">
                            <div
                                class="etape__media_image border js-image-panel"
                                data-component="Modale"
                                data-description="J’ai adapté mon projet pour qu’il fonctionne correctement sur ce projecteur."
                            >
                                <img src="assets/images/tagball_aq01.webp" alt="Projection du projet" />
                                <div class="icon_ecran">
                                    <img src="assets/icons/icon_ecran.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="footer_spacer">
            <div class="wrapper"></div>
        </section>
    </div>
</div>

{% include '_partials/_footer.html' %}
